* {
  text-align: center;
  margin: auto;
  max-width: 860px;
}

ul {
  list-style-type: none;
}

ul.container {
  display: inline-block;
  padding-bottom: 1rem;
}

ul.container > li {
  text-align: left;
  width: 50%;
}

img {
  width: 80%;
  height: auto;
}

footer {
  bottom: 0;
  height: 2.5rem; /* footer height */
  width: 100%;
  position: absolute;
}

.bread-pics-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 20px;
}

.bread-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.container > div {
  margin: 10px;
  padding: 10px;
}

.top-navbar {
  position: fixed;
  top: 0;
  background-color: #ddd;
  overflow: hidden;
}

.top-navbar ul {
  margin: 0;
  padding: 0;
}

.top-navbar li {
  float: left;
}

.top-navbar a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-navbar li a {
  display: block;
  background-color: #ddd;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.top-navbar .active {
  background-color: #0fadea;
  color: white;
}

/* active bar hover only */
.top-navbar a:hover {
  background-color: #04506d;
  color: white;
}

/* change link color on hover, for a non-active bar */
.top-navbar li a:hover:not(.active) {
  background-color: #555;
  color: white;
  text-decoration: none;
}

#page-container {
  min-height: 100vh; /* vh = viewport height */
  position: relative;
}

#content-wrap {
  padding-bottom: 2.5rem; /* footer height */
}

#pace-calculator {
  border-width: 2px !important;
  max-width: 480px;
}
