h1, h2, h3, p, .center {
    text-align: center;
}

.center {
    max-width: 960px;
    margin: auto;
}

#pace-calculator {
    max-width: 480px;
    border-width: 2px !important;
}

.left-align {
    display: inline-block;
    text-align: left;
}

ul {
    list-style-type: none;
}

img {
    width: 480px;
}

#page-container {
    position: relative;
    min-height: 100vh; /* vh = viewport height */
}

#content-wrap {
    padding-bottom: 2.5rem; /* footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* footer height */
}

.verticle-image {
    transform: rotate(90deg);
    overflow: hidden;
    margin: 50px auto;
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

/*
.large-image
{
    width: 480px;
}
*/

.top-navbar {
    position: fixed; /* sticky */
    top: 0;
    background-color: #ddd;
    overflow: hidden;
}

.top-navbar ul {
    margin: 0;
    padding: 0;
}

.top-navbar li {
    float: left;
}

.top-navbar a {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-navbar li a {
    display: block;
    background-color: #ddd;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.top-navbar .active {
    background-color: #0fadea;
    color: white;
}

/* active bar hover only */
.top-navbar a:hover {
    background-color: #04506d;
    color: white;
}

/* change link color on hover, for a non-active bar */
.top-navbar li a:hover:not(.active) {
    background-color: #555;
    color: white;
    text-decoration: none;
}
